$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$webicon-arrow-left: "\e91a";
$webicon-arrow-right: "\e91b";
$webicon-telephone: "\e919";
$webicon-minus: "\e917";
$webicon-plus: "\e918";
$webicon-edit: "\e916";
$webicon-eyeslash-reveal: "\e915";
$webicon-user-circle: "\e913";
$webicon-blog: "\e90d";
$webicon-close-square: "\e90e";
$webicon-eyeslash: "\e90f";
$webicon-printer: "\e910";
$webicon-shield: "\e911";
$webicon-tick-square: "\e912";
$webicon-user-notification: "\e914";
$webicon-arrow-up: "\e90b";
$webicon-document: "\e909";
$webicon-compare: "\e90a";
$webicon-arrow-down: "\e907";
$webicon-plane: "\e904";
$webicon-tick: "\e905";
$webicon-untick: "\e906";
$webicon-twitter: "\e900";
$webicon-linkedin-square: "\e901";
$webicon-instagram: "\e902";
$webicon-facebook-square: "\e903";
$webicon-check: "\e908";
$webicon-tooltip-icon: "\e90c";

