
  @font-face {
    font-family: 'Ciutadella Rounded';
    src: url('../assets/fonts/CiutadellaRounded-SmBd.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/CiutadellaRounded-SmBd.woff2') format('woff2'),
    url('../assets/fonts/CiutadellaRounded-SmBd.woff') format('woff'),
    url('../assets/fonts/CiutadellaRounded-SmBd.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ciutadella Rounded';
    src: url('../assets/fonts/CiutadellaRounded-Bd.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/CiutadellaRounded-Bd.woff2') format('woff2'),
    url('../assets/fonts/CiutadellaRounded-Bd.woff') format('woff'),
    url('../assets/fonts/CiutadellaRounded-Bd.ttf')  format('truetype'); /* Safari, Android, iOS */
  
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ciutadella Rounded';
    src: url('../assets/fonts/CiutadellaRounded-Md.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/CiutadellaRounded-Md.woff2') format('woff2'),
    url('../assets/fonts/CiutadellaRounded-Md.woff') format('woff'),
    url('../assets/fonts/CiutadellaRounded-Md.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ciutadella Rounded';
    src: url('../assets/fonts/CiutadellaRounded-Rg.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/CiutadellaRounded-Rg.woff2') format('woff2'),
    url('../assets/fonts/CiutadellaRounded-Rg.woff') format('woff'),
    url('../assets/fonts/CiutadellaRounded-Rg.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: url('../assets/fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../assets/fonts/OpenSans-Regular.woff') format('woff'),
    url('../assets/fonts/OpenSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;   
  }
  
  
  
